In [ ]:
# Installing related libraries
!pip install beautifulsoup4
!pip install html5lib

In [39]:
# Importing related libraries
from bs4 import BeautifulSoup as BS4
import requests
import pandas as pd

In [40]:
# url to scratch data
url = 'https://web.archive.org/web/20200318083015/https://en.wikipedia.org/wiki/List_of_largest_banks'

In [41]:
# parsing into beautifulsoup, html parser
soup = BS4(html_data.text, 'html.parser')

In [44]:
# Response object
html_data =requests.get(url)

if html_data.status_code == 200:
    # parsing into beautifulsoup, html parser
    soup = BS4(html_data.text, 'html.parser')

In [25]:
# Creating empty df to insert into scratched data 
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

# capturing related table to scratch
table = soup.find_all('tbody')[2].find_all('tr')

In [31]:
# Inserting captured data into empty data df
for row in table:
    col = row.find_all('td')
    if len(col) >= 2:
            # Extract the bank name (first column)
            bank_name = col[1].text.strip()

            # Extract the market cap (second column)
            market_cap = col[0].text.strip()
            
            # Creating df_temp to use concat with empty data df
            df_temp = pd.DataFrame({'Name': [bank_name], 'Market Cap (US$ Billion)': [market_cap]})

            data = pd.concat([data, df_temp], ignore_index=True)

In [45]:
# Checking data df
data.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                        1
1  Industrial and Commercial Bank of China                        2
2                          Bank of America                        3
3                              Wells Fargo                        4
4                  China Construction Bank                        5

In [35]:
# Saving data df as json file
data.to_json(path_or_buf='./bank_market_cap.json', orient='columns')